<ul class="video-list">

  <video-list-entry 
    ng-repeat='(index, video) in $ctrl.videos' 
    index='index' 
    video='video' 
    change-video='$ctrl.changeVideo'>
    <h5>
      <em>videoListEntry</em> 
      component goes here
    </h5>
  </video-list-entry>
  <button 
    class='previous'
    ng-click="$ctrl.changePage(1)"
    ng-hide='!$ctrl.listPointer'>
    <span>
      Previous
    </span>
  </button>
  <button
    class='next'
    ng-click="$ctrl.changePage()"
    ng-hide='$ctrl.listPointer > $ctrl.allVideos.length - 6'>
    <span>
      Next
    </span>
  </button>
</ul>
